<% @likes.each do |like| %>
  <div class="post">
    <div class="post-date">
      投稿日時：<%= l like.post.created_at %>
    </div>
    <div class="post-content">
      投稿者：<%= like.user.nickname %><br>
      投稿内容：<%= like.post.content %>
    </div>
    
    <% if Like.find_by(user_id:current_user.id,post_id:like.post.id) %>
      <%= link_to "/users/#{@user.id}/likes/#{like.id}",method: :delete ,remote: true,class: "heart-length" do %>
        <i class="fa fa-heart" id="like-btn"></i>
        <%= like.post.likes.length %>
      <% end %>
    <% else %>
      <%= link_to "/users/#{@user.id}/likes/#{like.id}",method: :post ,remote: true,class: "heart-length" do %>
        <i class="fa fa-heart" id="unlike-btn"></i>
        <%= like.post.likes.length %> 
      <% end %>
    <% end %>
  </div>
<% end %>

