<h1>LikesApp</h1>

<%= link_to "こんにちは、#{current_user.nickname}さん" ,user_path(current_user.id)%><br>
<%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: :nav__logout %> 


<%= form_with model:@post, id:"form" ,local: true do |f| %>
  <%= render 'shared/error_messages', model: f.object %>
  <%= f.text_field :content ,id:"content" %>
  <%= f.submit '投稿する',id: "submit" %>
<% end %>

<%# <i class="fas fa-phone faa-wrench animated"></i> %>
<%# <i class="fas fa-bell faa-ring animated"></i> %>

<% @posts.each do |post| %>
  <%= link_to post_path(post.id) do %>
    <div class="post">
      投稿者：<%= link_to post.user.nickname,user_path(post.user.id) %><br>
      <%= link_to post_path(post.id) do %>
        <div class="post-date">
          投稿日時：<%= l post.created_at %>
        </div>
        <div class="post-content">
          投稿内容：<%= post.content %>
        </div>
        <div id="heart_<%= post.id %>">
          <% if like_date = Like.find_by(user_id:current_user.id,post_id:post.id) %>
            <%= link_to post_like_path(post.id,like_date.id),method: :delete ,remote: true,class: "heart-length" do %>
              <i class="fa fa-heart" id="like-btn"></i>
              <%= post.likes.length %>
            <% end %>
          <% else %>
            <%= link_to post_likes_path(post.id),method: :post ,remote: true,class: "heart-length" do %>
              <i class="fa fa-heart" id="unlike-btn"></i>
              <%= post.likes.length %> 
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>

