<h1>LikesApp</h1>

<%= "こんにちは、#{current_user.nickname}さん" %><br>
<%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: :nav__logout %> 


<%= form_with model:@post, id:"form" do |f| %>
  <%#= render 'shared/error_messages', model: f.object %>
  <%= f.text_field :content ,id:"content" %>
  <%= f.submit '投稿する',id: "submit" %>
<% end %>

<div id="list">
</div>

<% @posts.each do |post| %>
    <div class="post">
    <div class="post-date">
      投稿日時：<%= post.created_at %>
    </div>
    <div class="post-content">
      <%= post.content %>
      <% if user_signed_in? %>
        <% if post.likes.present? && current_user.likes.present? %>
          <%# 削除を同期通信で行うのは出来なさそう %>
            <i class="fa fa-heart" id="like-btn"></i>
        <% else %>
          <%= link_to post_likes_path(post.id),method: :post do %>
            <i class="fa fa-heart" id="unlike-btn"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>