<div class="post">
  <div class="post-date">
    投稿日時：<%= l @post.created_at %>
  </div>
  <div class="post-content">
    投稿者：<%= @post.user.nickname %><br>
    投稿内容：<%= @post.content %>
    <div id="heart">
      <% if @like.present? %>
        <%#= link_to post_like_path(@post.id,@like[0].id),method: :delete ,remote: true do %>
        <%= link_to post_like_path(@post.id,@like.id),method: :delete ,remote: true,class: "heart-length" do %>
          <i class="fa fa-heart" id="like-btn"></i>
          <%= @post.likes.length %>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post.id),method: :post ,remote: true,class: "heart-length" do %>
          <i class="fa fa-heart" id="unlike-btn"></i>
          <%= @post.likes.length %> 
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "トップページに戻る", root_path %>


