<div class="post">
  <div class="post-date">
    投稿日時：<%= l @post.created_at %>
  </div>
  <div class="post-content">
    投稿者：<%= @post.user.nickname %><br>
    投稿内容：<%= @post.content %>
    <% if user_signed_in? %>
      <% if @post.likes.present? && current_user.likes.present? %>
        <%= link_to post_likes_path(@post.id),method: :post do %>
          <i class="fa fa-heart" id="like-btn"></i>
        <% end %>
      <% else %>
        <%= link_to post_likes_path(@post.id),method: :post do %>
          <i class="fa fa-heart" id="unlike-btn"></i>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<%= link_to "トップページに戻る", root_path %>